services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.prod
    restart: always
    volumes:
      # static data served via the Nginx proxy
      - static-data:/vol/web/static
      - media-data:/vol/web/media
    environment:
      - DB_HOST=db
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_PORT=${DB_PORT}
      - SECRET_KEY=${DJANGO_SECRET_KEY}
      - ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
    depends_on:
      - db

  db:
    image: postgres:18
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
  nginx:
    build:
      context: ./proxy
    restart: always
    depends_on:
      - api
    ports:
      # port 80 on the server: port 8000 on the container (the running host)
      - 8080:8000
    volumes:
      - static-data:/vol/static
      - media-data:/vol/media

volumes:
  postgres-data:
  static-data:
  media-data:
