name: Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          DH_username: ${{ vars.DOCKER_HUB_USERNAME }}
          DH_password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run linting
        run: |
          docker compose -f backend/docker-compose.yml run --rm api sh -c "flake8 . && black --check ."
  
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          DH_username: ${{ vars.DOCKER_HUB_USERNAME }}
          DH_password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run tests
        run: |
          docker compose -f backend/docker-compose.yml run --rm api sh -c "python manage.py wait_for_db && python manage.py test"
