name: deploy

on:
  push:
    branches:
      - main
      - prod

jobs:
  test-lint:
    name: test & lint
    uses: ./.github/workflows/test-lint.yml
  deploy:
    name: deploy infra
    runs-on: ubuntu-latest
    needs: [test-lint]
    env:
      COMPOSE_FILE: docker-compose-deploy.yaml
    steps:
      - uses: actions/checkout@v4
      - name: set terraform workspace
        run: |
          if [ "${{ github.ref }}" == "refs/heads/prod" ]; then
            echo "TF_WORKSPACE=prod" >> $GITHUB_ENV
          else
            echo "TF_WORKSPACE=staging" >> $GITHUB_ENV
          fi

      - name: login to ECR
        env:
          AWS_ACCESS_KEY_ID: ${{ vars.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ vars.AWS_REGION }}
          AWS_ACCOUNT_ID: ${{ vars.AWS_ACCOUNT_ID }}
        run: |
          aws ecr get-login-password --region "$AWS_REGION" \
          | docker login --username AWS \
          --password-stdin "$AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com"

      - name: build & push images
        env:
          ECR_REPO_API: ${{ vars.ECR_REPO_API }}
          ECR_REPO_PROXY: ${{ vars.ECR_REPO_PROXY }}
        run: |
          cd backend
          # docker build -t $ECR_REPO_API:$GITHUB_SHA backend -f backend/Dockerfile
          docker build -t $ECR_REPO_API:$GITHUB_SHA -f Dockerfile.prod .
          docker push $ECR_REPO_API:$GITHUB_SHA

          docker build -t $ECR_REPO_PROXY:$GITHUB_SHA -f ./proxy/Dockerfile ./proxy
          docker push $ECR_REPO_PROXY:$GITHUB_SHA

      - name: terraform apply
        env:
          AWS_ACCESS_KEY_ID: ${{ vars.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ vars.AWS_REGION }}
          TF_VAR_db_password: ${{ secrets.DB_PASS }}
          TF_VAR_db_username: ${{ vars.DB_USER }}
          TF_VAR_django_secret_key: ${{ secrets.django_secret_key }}
          TF_VAR_ecr_nginx_img_uri: ${{ vars.ECR_REPO_PROXY }}:$GITHUB_SHA
          TF_VAR_ecr_api_img_uri: ${{ vars.ECR_REPO_API }}:$GITHUB_SHA
          TF_WORKSPACE: ${{ env.TF_WORKSPACE }}
        run: |
          cd infra
          docker compose -f $COMPOSE_FILE run --rm tf -chdir=deploy init
          # docker compose run --rm tf -chdir=deploy workspace select -or-create $TF_WORKSPACE
          # docker compose run --rm tf -chdir=deploy workspace select $TF_WORKSPACE
          docker compose -f $COMPOSE_FILE run --rm tf -chdir=deploy apply -auto-approve
